.sidebar-header ul {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.sidebar-header li:not(:last-child) {
  margin-right: 25px;
}

.chat-pop-total {
  margin-bottom: 15px;
}

.chat-pop-total span {
  color: #c47532;
}

.sidebar .user-info {
  padding: 20px 30px;
}

.sidebar .user-info .name {
  margin-bottom: 15px;
}
